<form method="post" action="{{ path('app_ps_shop_delete', {'idShop': ps_shop.idShop}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ps_shop.idShop) }}">
    <button class="btn">Delete</button>
</form>
